@font-face {
  font-family: "MaidiniBold";
  src: local("MaidiniBold"), url(./fonts/MaldiniBold.ttf) format("truetype");
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 80px;
}

.game-title {
  font-family: MaidiniBold;
  font-size: 80px;
  padding: 0;
  margin: 0;
  color: black;
}

.stats {
  display: flex;
  flex: column;
  align-items: center;
  width: 800px;
  margin: 50px 0px;
}
.card {
  width: 300px;
  margin: auto;
  height: 300px;
  padding-top: 110px;
  align-items: center;
  border-radius: 20px !important;
  box-shadow: 5px 10px 5px rgba(128,128,128,0.5);

}

.connected {
  color: #219EBC;
}

.in-game {
  color: #FB8500;
}

.button {
  width: 700px;
  font-size: 36px;
  border-radius: 20px !important;
  background-color: #525252 !important;
  border: none !important;
}

.button:hover{
  background-color: #219EBC !important;
}